- if current_user && !current_user.author_of?(resource)
  = link_to 'Vote up ', polymorphic_url(resource, action: :vote_up), method: :patch, remote: true, class: 'vote-link'
  = link_to 'Vote down ', polymorphic_url(resource, action: :vote_down), method: :patch, remote: true, class: 'vote-link'
  = link_to 'Cancel vote ', polymorphic_url(resource, action: :cancel_vote), method: :patch, remote: true, class: 'vote-link'